{% extends "base.html" %}

{% block title %}
{{ block.super }} The Firm
{% endblock title %}

{% block content %}
<section class="w-screen px-4 md:px-44 xl:px-64 py-24">
  <div class="space-y-8 text-center md:w-6xl">
    <h1 class="text-center font-bold text-3xl md:text-6xl">Zero-Loss from the start</h1>
    <div class="space-y-2">

      <p class="block">
        Coraka is a Digital Content Strategist, that helps web3/blockchain/DeFi projects to thrive in the online world. Our team of experienced professionals is dedicated to providing a range of services, including community management, chat moderation, graphic design, chatbot expertise, copywriting, media, and more.
      </p>
      <p class="block">
        But our mission goes beyond just providing excellent services. We are also committed to inspiring and motivating young adults to embrace and contribute to new technological innovations. We believe that by encouraging the next generation to embrace these new technologies, we can enhance and improve all aspects of life.
      </p>
      <p class="block">
        At Coraka, we pride ourselves on our ability to adapt and innovate to stay ahead of the curve. We are always looking for new and exciting ways to help our clients succeed in the fast-paced world of web3/blockchain/DeFi projects. Our team is passionate about what we do, and we bring that passion to every project we work on.
      </p>
      <p class="block">
        So if you're looking for a digital content Strategist that can help your web3/blockchain/DeFi project succeed while also inspiring the next generation of tech innovators, look no further than Coraka. We're here to help you achieve your goals and make a positive impact on the world.
      </p>
    </div>
  </div>

  <div class="pt-24 grid grid-cols-1 md:grid-cols-3">
    <div
      class="py-14 md:py-24 px-14 md:px-24 text-center bg-dark text-white flex flex-col items-center justify-center space-y-4">
      <strong class="block text-3xl md:text-5xl font-bold text-success">28,400 %</strong>
      <p class="block">Coraka Asset recovery performance since inception</p>
    </div>
    <div
      class="py-14 md:py-24 px-14 md:px-24 text-center bg-dark text-white flex flex-col items-center justify-center space-y-4">
      <strong class="block text-3xl md:text-5xl font-bold text-success">$85,000</strong>
      <p class="block">Worth of funds recovered in total from victims of bot scam</p>
    </div>
    <div
      class="py-14 md:py-24 px-14 md:px-24 text-center bg-dark text-white flex flex-col items-center justify-center space-y-4">
      <strong class="block text-3xl md:text-5xl font-bold text-success">286</strong>
      <p class="block">Happy clients who has benefited from the program since its inception</p>
    </div>
  </div>
</section>

<section class="px-4 md:px-44 xl:px-64 py-8">
  <h3 class="text-3xl font-bold text-center py-3 border-b-2 border-b-dark w-full">Crypto History and Coraka's</h3>
  <div class="container">
    <div class="flex flex-col grid grid-cols-10 mx-auto p-2 text-dark text-sm">
      <!-- left -->
      <div class="flex flex-row-reverse contents">
        <div class="border-r-dark border-r-2 col-start-1 col-end-6 mr-10  my-4 ml-auto w-full relative">
          <h3 class="text-right font-semibold text-3xl p-4 md:text-5xl md:font-bold mb-1 border-b-2 border-b-dark relative">
            2008
            <div class="w-6 h-6 absolute -bottom-3 rounded-full bg-dark shadow -right-3"></div>
          </h3>
          <p class="leading-tight text-right p-4">
            A global financial crisis. Satoshi publishes Bitcoin Whitepaper in response.
          </p>
        </div>
      </div>
      <div class="flex flex-row-reverse contents">
        <div class="border-r-dark border-r-2 col-start-1 col-end-6 mr-10  my-4 ml-auto w-full relative">
          <h3 class="text-right font-semibold text-3xl p-4 md:text-5xl md:font-bold mb-1 border-b-2 border-b-dark relative">
            2009
            <div class="w-6 h-6 absolute -bottom-3 rounded-full bg-dark shadow -right-3"></div>
          </h3>
          <p class="leading-tight text-right p-4">
            The first Bitcoin block (known as Genesis Block) is mined.
          </p>
        </div>
      </div>
      <div class="flex contents">
        <div class="border-l-dark border-l-0 col-start-6 col-end-12 my-4 mr-auto w-full relative">
          <h3 class="text-left font-semibold text-3xl p-4 md:text-5xl md:font-bold mb-1 border-b-dark"></h3>
          <p class="leading-tight text-justify"></p>
        </div>
      </div>
      <div class="flex contents">
        <div class="border-l-dark border-l-2 col-start-6 col-end-12 my-4 mr-auto w-full relative">
          <h3 class="text-left font-semibold text-3xl p-4 md:text-5xl md:font-bold mb-1 border-b-2 border-b-dark relative">
            2013
            <div class="w-6 h-6 absolute -bottom-3  rounded-full bg-dark shadow -left-3"></div>
          </h3>
          <p class="leading-tight text-left p-4">
            Ethereum Whitepaper is published.
          </p>
        </div>
      </div>
      <div class="flex flex-row-reverse contents">
        <div class="border-r-dark border-r-2 col-start-1 col-end-6 mr-10  my-4 ml-auto w-full relative">
          <h3 class="text-right font-semibold text-3xl p-4 md:text-5xl md:font-bold mb-1 border-b-2 border-b-dark relative">
            2015
            <div class="w-6 h-6 absolute -bottom-3 rounded-full bg-dark shadow -right-3"></div>
          </h3>
          <p class="leading-tight text-right p-4">
            Ethereum Launches.
          </p>
        </div>
      </div>
      <div class="flex flex-row-reverse contents">
        <div class="border-r-dark border-r-2 col-start-1 col-end-6 mr-10  my-4 ml-auto w-full relative">
          <h3 class="text-right font-semibold text-3xl p-4 md:text-5xl md:font-bold mb-1 border-b-2 border-b-dark relative">
            2020
            <div class="w-6 h-6 absolute -bottom-3  rounded-full bg-dark shadow -right-3"></div>
          </h3>
          <p class="leading-tight text-right p-4">
            COVID-19 accelerates global adoption of digital assets as a hedge against unprecedented fiscal and monetary expansion.
            <br>
            <br>
            Major public corporations begin putting Bitcoin on their balance sheets.
          </p>
        </div>
      </div>
      <div class="flex contents">
        <div class="border-l-dark border-l-0 col-start-6 col-end-12 my-4 mr-auto w-full relative">
          <h3 class="text-left font-semibold text-3xl p-4 md:text-5xl md:font-bold mb-1 border-b-dark"></h3>
          <p class="leading-tight text-justify"></p>
        </div>
      </div>
      <div class="flex contents">
        <div class="border-l-dark border-l-2 col-start-6 col-end-12 my-4 mr-auto w-full relative">
          <h3 class="text-left font-semibold text-3xl p-4 md:text-5xl md:font-bold mb-1 border-b-2 border-b-dark relative">
            2022
            <div class="w-6 h-6 absolute -bottom-3  rounded-full bg-dark shadow -left-3"></div>
          </h3>
          <p class="leading-tight text-left p-4">
            Coraka Launches
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light py-24 px-4 md:px-44 xl:px-64">
  <div class="w-full md:max-w-2xl md:mx-auto text-center space-y-4">
    <h4 class="text-3xl md:text-5xl font-bold">Portfolio Companies</h4>
    <p>Learn more about our global portfolio.</p>
    <a href="{% url 'portfolio' %}" class=" block border-2 border-dark duration-300 py-3 px-5 hover:bg-dark hover:text-white">VIEW THE PORTFOLIO</a>
  </div>
</section>

{% endblock content %}
